<!-- Jumbotron -->
<div class="jumbotron text-center mx-2">
	
	<!-- Title -->
	<h2 class="card-title h2">404</h2>
  
	<!-- Subtitle -->
	<p class="my-4 h6">ERROR</p>
  
	<!-- Grid row -->
	<div class="row d-flex justify-content-center">
	  	<!-- Grid column -->
		<div class="col-xl-7 pb-2">
			<p class="card-text">Page not found</p>
		</div>
	  	<!-- Grid column -->
	</div>
	<!-- Grid row -->
  
	<hr class="my-4 rgba-white-light">
  
	<div class="pt-2">
		<a type="button" [routerLink]="['/']" routerLinkActive="router-link-active"  mdbBtn color="secondary" outline="true" mdbWavesEffect class="waves-light"><mdb-icon fas icon="home" class="mr-1"></mdb-icon>Back to home</a>
	</div>
  
</div>